body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    max-width: 500px;
    margin: auto;
    background: #e2e9e5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

label {
    margin-bottom: 5px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4cae4c;
}

#responseMessage {
    margin-top: 20px;
    text-align: center;
}
.container input:focus {
    background-color: #82e3b3;
}
